# import libraries

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# load datasets

In [3]:
df = pd.read_csv('Thyroidp.csv')
dff = pd.read_csv('hypothyroid.csv')

In [4]:
dff.replace('?',np.nan,inplace=True) 
mean_nl = dff['age'].astype('float').mean()
dff['age'].replace(np.nan,mean_nl,inplace=True) # np.nan means empty sapce

In [5]:
dff['age']= dff['age'].astype(int)

In [6]:
df.columns.tolist()

['Age',
 'Sex',
 'On_thyroxine',
 'Query_on_thyroxine',
 'On_antithyroid_medicine',
 'Sick',
 'Pregnant',
 'Thyroid_surgery',
 'I131_treatment',
 'Query_hypothyroid',
 'Query_hyperthyroid',
 'Lithium',
 'Goitre',
 'Tumor',
 'Hypopituitary',
 'Pysch',
 'TSH',
 'T3',
 'TT4',
 'T4U',
 'FTI',
 'Class']

In [7]:
dff.columns.tolist()

['age',
 'sex',
 'on thyroxine',
 'query on thyroxine',
 'on antithyroid medication',
 'sick',
 'pregnant',
 'thyroid surgery',
 'I131 treatment',
 'query hypothyroid',
 'query hyperthyroid',
 'lithium',
 'goitre',
 'tumor',
 'hypopituitary',
 'psych',
 'TSH measured',
 'TSH',
 'T3 measured',
 'T3',
 'TT4 measured',
 'TT4',
 'T4U measured',
 'T4U',
 'FTI measured',
 'FTI',
 'TBG measured',
 'TBG',
 'referral source',
 'binaryClass']

In [8]:
column = ['TSH measured','T3 measured','TT4 measured','T4U measured','FTI measured','TBG measured','referral source','TBG']
dff.drop(columns=column,axis=1,inplace=True)

In [9]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   int32
 1   sex                        3622 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH                        3403 non-null   object
 17  T3                         3003 non-null   object
 18  TT4                        3541 non-null   object
 19  T4U                        3385 non-null   object
 20  FTI                        3387 non-null   object
 21  binaryClass                3772 non-null   object
dtypes: int32(1), object(21)
memory usage: 633.7+ KB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      429 non-null    int64
 1   Sex                      429 non-null    int64
 2   On_thyroxine             429 non-null    int64
 3   Query_on_thyroxine       429 non-null    int64
 4   On_antithyroid_medicine  429 non-null    int64
 5   Sick                     429 non-null    int64
 6   Pregnant                 429 non-null    int64
 7   Thyroid_surgery          429 non-null    int64
 8   I131_treatment           429 non-null    int64
 9   Query_hypothyroid        429 non-null    int64
 10  Query_hyperthyroid       429 non-null    int64
 11  Lithium                  429 non-null    int64
 12  Goitre                   429 non-null    int64
 13  Tumor                    429 non-null    int64
 14  Hypopituitary            429 non-null    int64
 15  Pysch                    429 non-null    int64
 16  TSH                      429 non-null    float64
 17  T3                       429 non-null    float64
 18  TT4                      429 non-null    float64
 19  T4U                      429 non-null    float64
 20  FTI                      429 non-null    float64
 21  Class                    429 non-null    int64
dtypes: float64(5), int64(17)
memory usage: 73.9 KB

In [11]:
df.columns.tolist()

['Age',
 'Sex',
 'On_thyroxine',
 'Query_on_thyroxine',
 'On_antithyroid_medicine',
 'Sick',
 'Pregnant',
 'Thyroid_surgery',
 'I131_treatment',
 'Query_hypothyroid',
 'Query_hyperthyroid',
 'Lithium',
 'Goitre',
 'Tumor',
 'Hypopituitary',
 'Pysch',
 'TSH',
 'T3',
 'TT4',
 'T4U',
 'FTI',
 'Class']

In [12]:
dff.rename({
 'age':'Age',
 'sex':'Sex',
 'on thyroxine':'On_thyroxine',
 'query on thyroxine':'Query_on_thyroxine',
 'on antithyroid medication':'On_antithyroid_medicine',
 'sick':'Sick',
 'pregnant':'Pregnant',
 'thyroid surgery':'Thyroid_surgery',
 'I131 treatment':'I131_treatment',
 'query hypothyroid':'Query_hypothyroid',
 'query hyperthyroid':'Query_hyperthyroid',
 'lithium':'Lithium',
 'goitre':'Goitre',
 'tumor':'Tumor',
 'hypopituitary':'Hypopituitary',
 'psych':'Pysch',
 'binaryClass':'Class'
},axis=1,inplace=True)

In [32]:
df2 = pd.merge(df,dff,on='Age',how='outer')

In [33]:
df2

,Age,Sex_x,On_thyroxine_x,Query_on_thyroxine_x,On_antithyroid_medicine_x,Sick_x,Pregnant_x,Thyroid_surgery_x,I131_treatment_x,Query_hypothyroid_x,...,Goitre_y,Tumor_y,Hypopituitary_y,Pysch_y,TSH_y,T3_y,TT4_y,T4U_y,FTI_y,Class_y
0,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,f,f,f,f,17,2,74,0.95,78,P
1,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,f,f,f,f,17,2,74,0.95,78,P
2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,f,f,f,f,17,2,74,0.95,78,P
3,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,f,f,f,f,17,2,74,0.95,78,P
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,f,f,f,f,17,2,74,0.95,78,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23713,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,0.15,1.3,126,0.96,132,P
23714,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,2.7,0.4,77,0.86,90,P
23715,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,3,0.9,92,0.81,112,P
23716,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,t,f,f,0.3,NaN,NaN,NaN,NaN,P
23717,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,0.7,1.3,120,0.84,143,P

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23253 entries, 0 to 23252
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        23253 non-null  int64
 1   Sex_x                      23253 non-null  int64
 2   On_thyroxine_x             23253 non-null  int64
 3   Query_on_thyroxine_x       23253 non-null  int64
 4   On_antithyroid_medicine_x  23253 non-null  int64
 5   Sick_x                     23253 non-null  int64
 6   Pregnant_x                 23253 non-null  int64
 7   Thyroid_surgery_x          23253 non-null  int64
 8   I131_treatment_x           23253 non-null  int64
 9   Query_hypothyroid_x        23253 non-null  int64
 10  Query_hyperthyroid_x       23253 non-null  int64
 11  Lithium_x                  23253 non-null  int64
 12  Goitre_x                   23253 non-null  int64
 13  Tumor_x                    23253 non-null  int64
 14  Hypopituitary_x            23253 non-null  int64
 15  Pysch_x                    23253 non-null  int64
 16  TSH_x                      23253 non-null  float64
 17  T3_x                       23253 non-null  float64
 18  TT4_x                      23253 non-null  float64
 19  T4U_x                      23253 non-null  float64
 20  FTI_x                      23253 non-null  float64
 21  Class_x                    23253 non-null  int64
 22  Sex_y                      22307 non-null  object
 23  On_thyroxine_y             23253 non-null  object
 24  Query_on_thyroxine_y       23253 non-null  object
 25  On_antithyroid_medicine_y  23253 non-null  object
 26  Sick_y                     23253 non-null  object
 27  Pregnant_y                 23253 non-null  object
 28  Thyroid_surgery_y          23253 non-null  object
 29  I131_treatment_y           23253 non-null  object
 30  Query_hypothyroid_y        23253 non-null  object
 31  Query_hyperthyroid_y       23253 non-null  object
 32  Lithium_y                  23253 non-null  object
 33  Goitre_y                   23253 non-null  object
 34  Tumor_y                    23253 non-null  object
 35  Hypopituitary_y            23253 non-null  object
 36  Pysch_y                    23253 non-null  object
 37  TSH_y                      21000 non-null  object
 38  T3_y                       18495 non-null  object
 39  TT4_y                      21817 non-null  object
 40  T4U_y                      20843 non-null  object
 41  FTI_y                      20854 non-null  object
 42  Class_y                    23253 non-null  object
dtypes: float64(5), int64(17), object(21)
memory usage: 7.8+ MB