In [45]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [46]:
df = sns.load_dataset('titanic')

In [47]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

#### In this file using following columns build a model to predict if person would survive or not,
- Pclass
- Sex
- Age
- Fare
* Calculate score of your model

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [49]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [50]:
df['age']= df['age'].fillna(df['age'].mean())

In [51]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [52]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [53]:
column=['alone','alive','embark_town','adult_male','who','deck','class','sibsp','parch','embarked']
df.drop(columns=column,axis=1,inplace =True)

In [54]:
df.head(2)

   survived  pclass     sex   age     fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le = LabelEncoder()

In [57]:
df['Sex'] = le.fit_transform(df['sex'])

In [58]:
df.drop(columns='sex',axis=1,inplace=True)

In [59]:
df.head()

   survived  pclass   age     fare  Sex
0         0       3  22.0   7.2500    1
1         1       1  38.0  71.2833    0
2         1       3  26.0   7.9250    0
3         1       1  35.0  53.1000    0
4         0       3  35.0   8.0500    1

In [60]:
X= df[['pclass','age','Sex','fare']]
Y = df['survived']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.2)

In [63]:
print(len(X_train))
print(len(X_test))

178
713

In [64]:
from sklearn.tree import DecisionTreeClassifier

In [65]:
dtc = DecisionTreeClassifier()

In [66]:
dtc.fit(X_train,Y_train)

DecisionTreeClassifier()

In [67]:
predic = dtc.predict(X_test)

In [68]:
from sklearn.metrics import confusion_matrix,classification_report

In [69]:
print(confusion_matrix(Y_test,predic))
print(classification_report(Y_test,predic))

[[352  87]
 [ 98 176]]
              precision    recall  f1-score   support

           0       0.78      0.80      0.79       439
           1       0.67      0.64      0.66       274

    accuracy                           0.74       713
   macro avg       0.73      0.72      0.72       713
weighted avg       0.74      0.74      0.74       713

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
rfc = RandomForestClassifier()

In [72]:
rfc.fit(X_train,Y_train)

RandomForestClassifier()

In [73]:
pred = rfc.predict(X_test)

In [74]:
print(confusion_matrix(Y_test,pred))
print(classification_report(Y_test,pred))

[[391  48]
 [113 161]]
              precision    recall  f1-score   support

           0       0.78      0.89      0.83       439
           1       0.77      0.59      0.67       274

    accuracy                           0.77       713
   macro avg       0.77      0.74      0.75       713
weighted avg       0.77      0.77      0.77       713

In [75]:
dtc.score(X_test,Y_test)

0.7405329593267882

In [76]:
rfc.score(X_test,Y_test)

0.7741935483870968